<ion-header>
  <ion-toolbar>
    <ion-title>Liquidación</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/icon/avatar.svg" />
      </ion-avatar>
      <ion-label color="medium">
        <h4>{{currentRental.client.name}}</h4>
        <p>Additional client details</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card color="success">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="currentRental.car.image" />
        </ion-avatar>
        <ion-label color="medium">
          <h4>{{currentRental.car.registration }} - {{currentRental.car.modelName}}</h4>
          <p>Additional car details like damage, km...</p>
        </ion-label>
      </ion-item>
  </ion-card>
  <ion-card color="success">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="/assets/icon/calendar.svg" />
        </ion-avatar>
        <ion-label color="medium">
          <h4>{{currentRental.pickupDate | date:'dd/MM/yyyy'}} - {{currentRental.returnDate | date:'dd/MM/yyyy'}}</h4>
          <p>Diarias Totais: {{dateDifference()}}</p>
        </ion-label>
      </ion-item>
  </ion-card>
  <ion-card color="success">
    
  </ion-card>
</ion-content>
