<ion-header>
  <ion-toolbar>
    <ion-title>Fechas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-label color="primary" position="fixed">Retirada</ion-label>
  <ion-item>
    <ion-datetime [(ngModel)]="pickupDate" color="secondary"
        slot="end" display-format="DD.MM - HH:mm" [min]="minDate" minuteValues="0,30">
    </ion-datetime>
    <ion-icon slot="end" name="calendar"></ion-icon>
  </ion-item>
  <ion-searchbar placeholder="Local Salida" (ionInput)="updateSearch($event)" [debounce]="550"></ion-searchbar>
  <ion-card *ngIf="autocompleteItems.length > 0" class="ion-padding-bottom">
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let item of autocompleteItems" 
                tappable (click)="chooseItem(item)" class="address-search-item ion-no-padding">
              <ion-icon slot="start" name="pin" color="medium"></ion-icon>
              <ion-label>{{item.label}}</ion-label>
            </ion-item>
          </ion-list>
    </ion-card-content>    
  </ion-card>
  <ion-label color="primary" position="fixed">Retorno</ion-label>
  <ion-item>
    <ion-datetime [(ngModel)]="returnDate" color="secondary" slot="end"
        placeholder="Seleciona retorno" display-format="DD.MM - HH:mm"  [min]="minDate" minuteValues="0,30">
    </ion-datetime>
    <ion-icon slot="end" name="calendar"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input type="search" placeholder="Local Devolución"></ion-input>
    <ion-icon slot="end" name="pin"></ion-icon>
  </ion-item>
  <ion-button routerLink="/rental-details-payment" routerDirection="forward" 
              color="success" expand="block" [disabled]="!pickupDate || !returnDate">
    Proximo
  </ion-button>
  <ion-button routerLink="/rentals" routerDirection="root" color="danger" expand="block">
    Cancelar
  </ion-button>
</ion-content>
