<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="dismiss()">
          Cancelar
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Añadir un Cliente</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" type="submit" (click)="onSubmit()">
          Salvar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> 
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
              <ion-label color="primary" position="stacked">Cliente<ion-text color="danger">*</ion-text></ion-label>
              <ion-item lines="full">
                  <ion-input formControlName="name" placeholder="Nombre completo"></ion-input>
              </ion-item>
              <ion-label color="primary" position="stacked">Numero Documento<ion-text color="danger">*</ion-text></ion-label>    
              <ion-item lines="full">
                  <ion-input formControlName="idNumber" type="text"></ion-input>
              </ion-item>
              <ion-label color="primary" position="stacked">País<ion-text color="danger">*</ion-text></ion-label>
              <ion-item>
                <ion-input formControlName="country" (ionInput)="searchCountry($event)" type="text"></ion-input> 
              </ion-item>
              <ion-list *ngIf="countries.length > 0" class="search-result">
                  <ion-item button *ngFor="let country of countries" (click)="selectCountry(country)">
                    <ion-label>{{ country.name }}</ion-label>
                  </ion-item>
                </ion-list>
              <ion-label color="primary" position="stacked" color="primary">Tipo de Documento<ion-text color="danger">*</ion-text></ion-label>
              <ion-item lines="none">
                <ion-segment (ionChange)="segmentChanged($event)" color="primary" class="ion-padding-top ion-padding-bottom">
                  <ion-segment-button layout="icon-top">
                    <ion-icon name="card"></ion-icon>
                      DNI
                  </ion-segment-button>
                  <ion-segment-button layout="icon-top">
                      <ion-icon name="journal"></ion-icon>
                      Passaporte  
                  </ion-segment-button>
                  <ion-segment-button layout="icon-top">
                    <ion-icon name="bookmarks"></ion-icon>
                    Otro
                  </ion-segment-button>
                </ion-segment>
              </ion-item>
             
      </ion-card-content>
    </ion-card>
  </form>
 </ion-content>