ion-segment-button {
    --border-radius: 5px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 2px;
    --padding-end: 2px;
    --margin-bottom: 3px;
    --margin-top: 3px;
    width: 30%;
    font-size: 0.8em; 
}

.search-result {
    max-height: 50%;
    overflow-y: scroll;
}

ion-thumbnail {
    --size: 25%;
}
